<div class="d-flex justify-content-center">
  <div>
    <h1>Sandwich</h1>
  </div>
  <div><%= link_to "Create a new Sandwich", new_sandwich_path, class: "btn btn-primary" %></div>
</div>
<div class="container" style="align-content-center">
  <div class="d-flex justify-content-center">
    <div class="row">
      <% @sandwiches.each do |sarny| %>
        <div class="card" style="width: 18rem;">
          <img src='<%= sarny.photo.attached? ? cl_image_path(sarny.photo.key) : "http://source.unsplash.com/featured/?#{sarny.name}sandwich&#{rand(1000)}" %>' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= sarny.name %></h5>
            <p class="card-text"><%= sarny.description%></p>
            <%= link_to "Show Fillings", sandwich_path(sarny), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
