<h1>sandwiches</h1>
<% @sandwiches.each do |sarny| %>
  <ul>
    <%= sarny.name %>
    <div><%= sarny.description %></div>
    <div><%= sarny.cost %></div>
    <img class="card-img-top" src='<%= sarny.photo.attached? ? cl_image_path(sarny.photo.key) : "http://source.unsplash.com/featured/?#{sarny.name}sandwich&#{rand(1000)}" %>'>
    <div>
      <%=link_to "Show Ingredients", sandwich_path(sarny) %>
    </div>
  </ul>
<% end %>
<div class="d-flex justify-content-center">
  <div><%= link_to "Create a new Sandwich", new_sandwich_path, class: "btn btn-blue" %></div>
