<div class="container">
  <%= simple_form_for @sandwich do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.association :ingredients, :as => :radio_buttons %>
    <%= f.input :description %>
    <%= f.submit 'Add Filling', class: 'btn btn-primary mt-2' %>
  <% end %>
</div>
